.game-board {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    width: 30vw;
    height: 30vw;
}

.game-cell {
    border: 1px solid black;
}

.is-alive {
    background-color: black;
}

@media (max-width: 1025px) {
    .game-board  {
        width: 35vw;
        height: 35vw;
    }
}

@media (max-width: 769px) {
    .game-board {
        width: 70vw;
        height: 70vw;
    }
}

@media (max-width: 376px) {

    .game-board {
        width: 80vw;
        height: 80vw;
    }
}